<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ site.description | default: '' }}" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>

  <body>
    <header class="site-header">
      <div class="container header-inner">
        <a class="brand" href="{{ '/' | relative_url }}">
          <span class="brand__name">Lucía Ferreño</span>
          <span class="brand__role">Data Analyst</span>
        </a>

       <nav class="nav">
  <a href="{{ '/about/' | relative_url }}">About</a>
  <a href="{{ '/projects/' | relative_url }}">Proyectos</a>
  <a href="{{ '/cv/' | relative_url }}">CV</a>
  <a href="{{ '/contact/' | relative_url }}">Contacto</a>
</nav>
      </div>
    </header>

    <main class="container">
      {{ content }}
    </main>

    <footer class="site-footer">
      <div class="container footer-inner">
        <span>© {{ site.time | date: '%Y' }} · Lucía Ferreño</span>
      </div>
    </footer>
  </body>
</html>
